{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Секции{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h1>Секции</h1>
        <ul>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            <a href="{{ c.get_absolute_url }}">
                <img src="{% if c.image %}{{ c.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
            </a>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

